<body>
    <div style="text-align:center">
        <h1>Plataforma de la ENCCRV</h1>
        <h2>¡Hola {{name|title}}!,</h2>
        <h3>Tu cuenta para la Plataforma de la ENCCRV ha sido creada.</h3>
        <p>Para finalizar con el proceso, es necesario que actualices tu contraseña haciendo click <a href="http://167.172.29.65/account/password/change/">aquí</a>.<br>
        Recuerda que tu usuario es <small style="font-weight: bold; font-size: 12px;">{{username}}</small> y tu contraseña temporal es <small style="font-weight: bold; font-size: 12px;">{{password}}</small><br>
        Si necesitas asistencia técnica, ponte en contacto con el <a href="mailto:plataforma.enccrv@conaf.cl?Subject=Asistencia%20técnica%20Plataforma">Administrador</a>.</p>
    </div>
</body>

  